ariadne==0.13.0
click==8.0.3
Flask==2.0.2
Flask-SQLAlchemy-Session==1.1
graphql-core==3.1.6
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
SQLAlchemy==1.4.26
starlette==0.14.2
typing-extensions==3.10.0.2
Werkzeug==2.0.2
